<div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Idées<small></small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <a><i class="fa fa-fw fa-sun-o"></i> Idées</a>
                            </li>
                            <li class="active">
                                Idées Proposées
                            </li>
                            <div class="pull-right">Classées par :    
                                 <select class="form-control">
                                                <option>Notes</option>
                                                <option>Date</option>
                                            </select></div>
                        </ol>
                        
                    </div>
                </div>
           <div class="container">     

                                                    <hr>

                <!-- Pager -->
                <ul class="pager">
                    <li class="previous">
                        <a href="#">&larr; Older</a>
                    </li>
                    <li class="next">
                        <a href="#">Newer &rarr;</a>
                    </li>
                </ul>
        <!-- Footer -->


        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>